@font-face {
    font-family: apLight;
    src: url(../fonts/RoobertTRIAL-Light.woff2);
}

@font-face {
    font-family: apRegular;
    src: url(../fonts/RoobertTRIAL-Regular.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: apRegular;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
    font-style: italic;
}

a.navbar-brand:hover {
    font-style: normal;
}
 
li {
    list-style: none;
}

button:focus {
    outline: none;
}

.italic {
    font-style: italic;
}

/* -----HEADER----- */
.brand {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 36px;
    text-transform: uppercase;
    z-index: 10;
}

.brand.nav-brand {
    font-size: 28px;
    display: none;
}

.menu-toggle {
    display: none;
    position: absolute;
    top: 17px;
    right: 13px;
    z-index: 10;
}

header nav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    transform: 0;
    transition: transform 0.8s ease-in-out;
}

.nav-list {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}

.nav-list-item {
    font-size: 36px;
    margin-bottom: 5px;
    line-height: 1.2;
    float: right;
}


/* -----HOMEPAGE----- */
/* .home-container .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */
.home-container .navbar-light .navbar-brand,
.home-container,
.home-container a,
.home-container a:hover {
    color: #fff;
    text-decoration: none;
}

.home-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
}

.home-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}


/* -----PROJECT ARCHIVE----- */
.project-page .navbar-light .navbar-brand,
.project-page,
.project-page a,
.project-page a:hover {
    color: #4e4e4e;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    padding: 240px 50px 50px;
}

.project-pb {
    padding-bottom: 100px;
}

.proj-img {
    opacity: 0;
    transition: all 0.8s ease-in;
}

.proj-img.visible {
    opacity: 1;
    transform: none;
}

.proj-img img {
    width: 100%;
    height: auto;
}

.proj-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left {
    align-items: flex-end;
}

.proj-desc h2 {
    font-size: 32px;
    margin-bottom: 4px;
}

.proj-desc h3 {
    font-size: 18px;
}

/* -----PROJECT SINGLE----- */
.single-page .navbar-light .navbar-brand,
.single-page,
.single-page a,
.single-page a:hover {
    color: #fff;
    text-decoration: none;
}

.single-page .container {
    color: #4e4e4e;
    padding-top: 80px;
}

.showcase {
    background: url(../img/Gatehouse-School-Images/full-screen/GatehouseSchool_ProjectMain_3000x1500.jpg) center center/cover no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.proj-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.container-single {
    color: #4e4e4e;
}

.single-desc {
    padding: 30px 0 120px 0;
}

.description {
    margin-bottom: 0;
}

.single-list, .single-list .col-5 {
    height: 100%;
}

.single-cats, .single-details {
    display: grid;
    align-content: space-between;
    height: 100%;
}
.single-cats, .single-details {
    font-size: 14px;
    padding: 0;
}

.single-cats {
    color: #828282
}

.single-details {
    color: #4b0101
}

.back-top {
    text-align: center;
    font-size: 16px;
    color: #4e4e4e;
    margin: 100px 0 50px;
}

/* ===== SINGLE IMAGES ===== */

.img-mb {
    opacity: 0;
    margin-bottom: 100px;
    transition: all 0.5s ease-in;
}

.img-mb.visible {
    opacity: 1;
    transform: none;
}

.single-full-img {
    width: 100%;
}

.single-full-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.single-square-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.single-square-img img {
    width: 66.7%;
    height: auto;
    object-fit: cover;
}

.single-auto-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.single-auto-img img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

/* ===== PRACTICE ===== */
.practice-page .navbar-light .navbar-brand,
.practice-page,
.practice-page a,
.practice-page a:hover {
    color: #fff;
    text-decoration: none;
    z-index: 10;
}

.practice-showcase {
    background: url(../img/practice.png) center center/cover no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.practice-showcase-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
}

.practice-page .container {
    padding-top: 70px;
    padding-bottom: 280px;
}

.practice-desc {
    color: #4e4e4e;
    margin-bottom: 40px;
}

.practice-desc h3 {
    font-size: 32px;
}

/* ===== PEOPLE ===== */
.people-page .navbar-light .navbar-brand,
.people-page,
.people-page a,
.people-page a:hover {
    color: #4e4e4e;
    text-decoration: none;
}

.people-page {
    background-color: #fff;
}

.people-container {
    width: 100%;
    padding: 130px 0 60px;
}

.person-block {
    max-width: 850px;
    display: flex;
    padding-bottom: 30px;
    margin: 0 auto;
}


.person-img img {
    height: 350px;
    width: 245px;
    object-fit: cover;
}

.person-info {
    margin-left: 25px;
}

.person-name, .person-title {
    font-size: 24px;
}

.person-title {
    color: #828282;
}

.person-info p {
    font-size: 16px;
}

/* ===== CONTACT PAGE ===== */
.contact-page .navbar-light .navbar-brand,
.contact-page,
.contact-page a,
.contact-page a:hover {
    color: #4e4e4e;
    text-decoration: none;
}

.contact-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ffefef;
}

.contact-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 50px;
}

.contact-width-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.contact-content .map {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    background-color: lightgray;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== FOOTER ===== */
.single-page footer,
.project-page footer,
.practice-page footer,
.people-page footer {
    background-color: #4e4e4e;
    color: #fff;
}

footer {
    width: 100%;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 50px;
    display: flex;
    justify-content: space-between;
}

.footer-registered-mobile {
    display: none;
}

.contact-page footer .footer-container {
    max-width: 1000px;
    padding: 0;
}

.footer-container a, .footer-container a:hover {
    color: #fff
}

.contact-container .footer-container a {
    color: #4e4e4e
}

footer h2 {
    font-size: 32px;
    text-transform: uppercase;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

footer p {
    font-size: 9px;
    margin-bottom: 0;
}

.contact-social, .contact-info {
    display: grid;
    align-content: space-between;
}

.contact-address, .contact-social-container {
    height: 160px;
    display: grid;
    align-content: space-between;
}

.contact-address h3:nth-of-type(3) {
    margin-bottom: 1px;
    line-height: 1;
}

.contact-email h3:nth-of-type(1) {
    margin-top: 4px;
}






/* ----- MEDIA QUERIES ------*/

/* MEDIUM LAPTOP 1440 x 800 */
@media(max-width: 1500px) {
    .showcase {
        background: url(../img/Gatehouse-School-Images/full-screen/GatehouseSchool_ProjectMain_1440x800.jpg) center center/cover no-repeat;
    }
    .container {
        max-width: 1200px
    }
    .contact-container {
        max-width: 1200px;
    }
    footer .footer-container {
        max-width: 1200px;
    }
}

/* SMALL LAPTOP 1366 x 640 */
@media(max-width: 1400px) {
    .container {
        padding-top: 200px;
    }

    .showcase {
        background: url(../img/Gatehouse-School-Images/full-screen/GatehouseSchool_ProjectMain_3000x1500.jpg) center center/cover no-repeat;
    }

    .brand, .nav-list-item {
        font-size: 30px;
        padding: 0 4px;
    }

    .container {
        max-width: 1000px;
    }
    footer .footer-container {
        max-width: 1000px;
    }
    .proj-desc h2 {
        font-size: 28px;
    }
    .proj-desc h3 {
        font-size: 14px;
    }

    .description {
        font-size: 14px;
    }

    .single-cats, .single-details {
        font-size: 12px;
    }

    .contact-container {
        max-width: 1000px;
    }
 
    .contact-content {
     margin-top: 0;
    }
 
     .contact-content .map {
         margin-bottom: 10px;
    }
}

/* 14 INCH NOTEBOOK 1280 x 580 */
@media(max-width: 1300px) {
    .brand, .nav-list-item {
        font-size: 28px;
    }

    .container {
        padding-top: 150px;   
    }

    .map img {
        height: 300px;
    }

}


/* IPAD PORTRAIT */
@media(max-width: 769px) {
    .container {
        padding: 200px 15px 0;
    }

    /* Page footer distance */
    .practice-page .container {
        padding-bottom: 24px;
    }
    .back-top {
        margin-bottom: 80px;
        font-size: 14px;
    }

    .right {
        padding-left: 0;
    }
    .left {
        padding-right: 0;
    }
    .project-pb {
        padding-bottom: 80px;
    }


    .single-page .container {
        padding-top: 40px;
    }
    .single-title h2 {
        font-size: 28px;
    }
    .single-desc {
        padding-right: 200px;
        padding-bottom: 80px;
    }
    .description {
        padding-bottom: 50px;
    }

    .practice-desc h3 {
        padding-bottom: 10px;
    }

    .contact-container {
        padding: 0 15px;
    }
    .contact-content {
        padding: 30px 0 0;
    }
    .map img {
        height: 100%;
    }

    .contact-page .contact-content .map {
        margin-bottom: 10px;
    }

    footer .footer-container {
        padding: 40px 15px;
    }
}


/* MOBILE */
@media(max-width: 576px) {
    header nav {
        position: fixed;
        width: 100vw;
        height: 100vh;
        /* top: -100vh; */
        right: 0;
        background-color: #fff;
    }

    .menu-toggle {
        display: block;
    }

    .brand.nav-brand {
        display: block;
        color: #4e4e4e;
    }
    
    .nav-list {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .nav-list-item {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
        color: #4e4e4e;
    }

    .container {
        padding: 130px 15px 0;
    }

    /* Page footer distance */
    .project-page .container {
        padding-bottom: 70px;
    }
    .practice-page .container {
        padding: 40px 15px 44px;
    }
    .people-page .container {
        padding-bottom: 54px;
    }
    .back-top {
        margin-bottom: 100px;
        font-size: 14px;
    }

    .right {
        padding-left: 15px;
    }
    .left {
        padding-right: 15px;
        align-items: flex-start;
    }
    .proj-desc h2 {
        font-size: 24px;
    }
    .proj-img {
        padding-bottom: 5px;
    }
    .project-pb {
        padding-bottom: 30px;
    }


    .title {
        font-size: 20px;
    }
    .img-mb {
        margin-bottom: 40px;
    }
    .single-title h2 {
        font-size: 24px;
    }
    .single-title h6 {
        font-size: 14px;
    }
    .single-desc {
        padding-right: 0;
    }


    .practice-desc h3 {
        font-size: 24px;
    }
    .practice-desc p {
        font-size: 14px;
    }

    .person-block {
        flex-direction: column;
    }
    .person-img {
        margin-bottom: 13px;
    }
    .person-img img {
        width: 47%;
        height: auto;
    }

    .person-info {
        margin-left: 0;
    }
    .person-info p {
        font-size: 14px;
    }
    .person-name {
        margin-bottom: 3px;
    }


    .contact-page {
        overflow-y: auto;
    }

    footer .footer-container {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 15px;
    }

    .contact-width-container {
        display: block;
    }

    .contact-address, .contact-social-container {
        display: block;
        height: auto;
    }

    .footer-registered {
        display: none;
    }

    .footer-registered-mobile {
        display: block;
    }

    .footer h2 {
        margin-bottom: 15px;
    }

    .contact-address {
        margin-bottom: 15px;
    }

    .contact-address h3:nth-of-type(3) {
        margin-bottom: 0;
    }

    .contact-email h3:nth-of-type(1){
        margin-top: 0;
    }

    .contact-email a:nth-of-type(2) h3, 
    .contact-web a:nth-of-type(2) h3 {
        margin-bottom: 15px;
    }

    .footer-data {
        margin-bottom: 15px;
    }

    .contact-content {
        padding: 130px 0 50px;
    }

    .contact-content footer h2 {
        display: none;
    }

    .contact-address, .contact-social-container {
        height: auto; 
    }

    footer h3 {
        font-size: 14px;
        margin-bottom: 4px;
    }

    footer p {
        font-size: 8px;
    }
}

